body {
    font-family: 'Arial', sans-serif;
    margin: 0;
    padding: 0;
    background-color: #f8f8f8;
    color: #333;
    text-align: center;
}

.container {
    width: 80%;
    margin: 0 auto;
}

header {
    background-color: #3498db;
    padding: 1em;
    color: white;
}

h1 {
    font-size: 2em;
}

p {
    font-size: 1.2em;
    color: #7f8c8d;
}

.cta-button {
    display: inline-block;
    padding: 1em 2em;
    margin-top: 1em;
    background-color: #2ecc71;
    color: white;
    text-decoration: none;
    border-radius: 5px;
    font-size: 1.2em;
}

.cta-button:hover {
    background-color: #27ae60;
}

#formContainer {
    display: block;
}

#activityForm {
    margin-top: 2em;
}

label {
    display: block;
    margin-bottom: 0.5em;
    font-size: 1.2em;
}

input {
    width: 100%;
    padding: 0.5em;
    font-size: 1em;
    margin-bottom: 1em;
    box-sizing: border-box;
}

button {
    background-color: #3498db;
    color: white;
    padding: 0.5em 1em;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    font-size: 1.2em;
}

button:hover {
    background-color: #2980b9;
}

ul {
    list-style-type: none;
    padding: 0;
}

ul li {
    font-size: 1.2em;
    margin-bottom: 0.5em;
}

footer {
    background-color: #2c3e50;
    color: white;
    padding: 1em 0;
    position: absolute;
    bottom: 0;
    width: 100%;
    

}
